In [1]:
import pandas as pd

df_clean = pd.read_csv("D:/DATN/US - Accidents/data/processed/su_kien.csv")

In [2]:
print({df_clean.shape[0]}, {df_clean.shape[1]})

{7692583} {10}

In [ ]:


df_clean = pd.read_csv("D:/DATN/US - Accidents/data/processed/clean_accidents.csv")

(df_clean.head())

,ID,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,Distance(mi),Street,City,County,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,0.01,I-70 E,Dayton,Montgomery,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,0.01,Brice Rd,Reynoldsburg,Franklin,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,0.01,State Route 32,Williamsburg,Clermont,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,0.01,I-75 S,Dayton,Montgomery,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,0.01,Miamisburg Centerville Rd,Dayton,Montgomery,...,False,False,False,False,True,False,Day,Day,Day,Day

In [3]:
print(df_clean.info())
print(df_clean['Start_Time'].dtype)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7692583 entries, 0 to 7692582
Data columns (total 30 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Severity               int64
 2   Start_Time             object
 3   End_Time               object
 4   Start_Lat              float64
 5   Start_Lng              float64
 6   Distance(mi)           float64
 7   Street                 object
 8   City                   object
 9   County                 object
 10  State                  object
 11  Zipcode                object
 12  Temperature(F)         float64
 13  Humidity(%)            float64
 14  Visibility(mi)         float64
 15  Wind_Speed(mph)        float64
 16  Precipitation(in)      float64
 17  Weather_Condition      object
 18  Crossing               bool
 19  Junction               bool
 20  Roundabout             bool
 21  Station                bool
 22  Stop                   bool
 23  Traffic_Calming        bool
 24  Traffic_Signal         bool
 25  Turning_Loop           bool
 26  Sunrise_Sunset         object
 27  Civil_Twilight         object
 28  Nautical_Twilight      object
 29  Astronomical_Twilight  object
dtypes: bool(8), float64(8), int64(1), object(13)
memory usage: 1.3+ GB
None
object

In [14]:
print(df_clean.isnull().sum())

ID                       0
Severity                 0
Start_Time               0
End_Time                 0
Start_Lat                0
Start_Lng                0
Distance(mi)             0
Street                   0
City                     0
County                   0
State                    0
Zipcode                  0
Temperature(F)           0
Humidity(%)              0
Visibility(mi)           0
Wind_Speed(mph)          0
Precipitation(in)        0
Weather_Condition        0
Crossing                 0
Junction                 0
Roundabout               0
Station                  0
Stop                     0
Traffic_Calming          0
Traffic_Signal           0
Turning_Loop             0
Sunrise_Sunset           0
Civil_Twilight           0
Nautical_Twilight        0
Astronomical_Twilight    0
dtype: int64

In [13]:
print(df_clean.head())

    ID  Severity           Start_Time             End_Time  Start_Lat  \
0  A-1         3  2016-02-08 05:46:00  2016-02-08 11:00:00  39.865147
1  A-2         2  2016-02-08 06:07:59  2016-02-08 06:37:59  39.928059
2  A-3         2  2016-02-08 06:49:27  2016-02-08 07:19:27  39.063148
3  A-4         3  2016-02-08 07:23:34  2016-02-08 07:53:34  39.747753
4  A-5         2  2016-02-08 07:39:07  2016-02-08 08:09:07  39.627781

   Start_Lng  Distance(mi)                     Street          City  \
0 -84.058723          0.01                     I-70 E        Dayton
1 -82.831184          0.01                   Brice Rd  Reynoldsburg
2 -84.032608          0.01             State Route 32  Williamsburg
3 -84.205582          0.01                     I-75 S        Dayton
4 -84.188354          0.01  Miamisburg Centerville Rd        Dayton

       County  ... Roundabout Station   Stop  Traffic_Calming  Traffic_Signal  \
0  Montgomery  ...      False   False  False            False           False
1    Franklin  ...      False   False  False            False           False
2    Clermont  ...      False   False  False            False            True
3  Montgomery  ...      False   False  False            False           False
4  Montgomery  ...      False   False  False            False            True

   Turning_Loop  Sunrise_Sunset Civil_Twilight  Nautical_Twilight  \
0         False           Night          Night              Night
1         False           Night          Night              Night
2         False           Night          Night                Day
3         False           Night            Day                Day
4         False             Day            Day                Day

   Astronomical_Twilight
0                  Night
1                    Day
2                    Day
3                    Day
4                    Day

[5 rows x 30 columns]